.create-todo-button {
    display: flex;
    justify-self: center;
    justify-content: center;
    max-width: 400px;
    margin-left: 250px;
    margin-right: 25px;
}

button {
    border-radius: 50px;
    background: #64DCF6;
    box-shadow:  0px 3px 25px #61dafa;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    margin: 2px 2px;
    cursor: pointer;
}