li {
    width: 100%;
    max-width: 327px;
    height: 90px;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    box-shadow:  -7px -7px 100px #c6c6c6,
             7px 7px 100px #d2d2d2;
}

p {
    margin: 0;
    font-family: 'Montserrat', sans-serif; /* Ver como importar fuente en react.js*/
    font-size: 18px;
    color: #333;
    /* text-decoration: ${({ isCompleted }) => isCompleted ? 'line-through' : 'none'};
 */
}


